---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>
<div id="post-navigation">
{% if page.previous.url != null %}<div class="post-nav-prev"><a href="{{ page.previous.url }}">&lt;-- Previous post</a></div> {% endif %}
{% if page.next.url != null %} <div class="post-nav-next"><a href="{{ page.next.url }}">Next post --&gt;</a></div> {% endif %}
</div>